<!DOCTYPE html>
<html lang="en">
<head>
	<title>Update 24 x 7: About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>
	<div class="column5"><a href="/news/home">Logo</a></div>
	<div class="column5"><a href="/news/home">Home</a></div>
	<div class="column5"><a href="/news/sports">Sports</a></div>
	<div class="column5"><a href="/news/contactus">Contact Us</a></div>
	<div class="column5"><a href="/news/aboutus">About Us</a></div>
</header>
<section>
  <article>
	<br/>
	<div style="height: 85px; background-color: white;">
	<div class="column2">
		<b>Latest News 1</b><br/>
		<p>This is story number 1from the latest news collection from MongoDB. The page will fetch latest news articles form the databse and display the same in these boxes.</p>
	</div>
	<div class="column2">
		<b>Latest News 2</b><br/>
		<p>This is story number 1from the latest news collection from MongoDB. The page will fetch latest news articles form the databse and display the same in these boxes.</p>
	</div>
  </article>
</section>
<br/>
<footer>
  <p>&#169; Copyright 2021: Daily News Agency</p>
</footer>

</body>
</html>
