<!DOCTYPE html>
<html lang="en">
<head>
	<title>Update 24 x 7: Contact Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<header>
	<div class="column5"><a href="/news/home">Logo</a></div>
	<div class="column5"><a href="/news/home">Home</a></div>
	<div class="column5"><a href="/news/sports">Sports</a></div>
	<div class="column5"><a href="/news/contactus">Contact Us</a></div>
	<div class="column5"><a href="/news/aboutus">About Us</a></div>
</header>
<section>
  <article>
	<br/>
	<form action="/contact/add" method="POST" id="update_user">
	  <div class="column2">
		<label for="name">Email:</label>
		<input type="text" class="form-control" id="email" placeholder="Enter From address" name="email" required>
	  </div>
	  <div class="column2">
		<label for="email">Query:</label><br/>
		<textarea id="query" name="query" rows="14" cols="80"></textarea>
	  </div>
	  <div style="position: relative; left: 46%;">
	    <button type="submit" id="update_table" class="btn btn-primary">Submit</button>
	  </div>
	</form>
  </article>
</section>
<br/>
<footer>
  <p>&#169; Copyright 2021: Daily News Agency</p>
</footer>

</body>
</html>
